@font-face {
    font-family: 'simplificasimplifica';
    src: url('simplifica_typeface-webfont.woff2') format('woff2'),
        url('simplifica_typeface-webfont.woff') format('woff');
    font-weight: bold;
}

.title {
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    padding-left: 45px;
    font-family: 'simplificasimplifica';
    font-weight: bold;
    background-color: #aedb86;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cart {
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-right: 40px;
    margin-left: 40px;
    padding-right: 40px;
}

.cartItem {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'simplificasimplifica';
    font-weight: bold;
    border-bottom: 2px solid lightgrey;
    display: grid;
    grid-template-columns: 1fr 3fr 8fr 1fr 1fr 1fr;
}

.img {
    width: 100px;
    height: 100px;
    float: left;
    margin-bottom: 20px;
    margin-top: 30px;
}

.prodTitle {
    font-family: 'simplificasimplifica';
    font-size: 30px;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-self: center;
}

.description {
    font-size: 20px;
    margin-left: 30px;
    align-self: center;
}

.product-quantity {
    align-self: center;
    width: 10px;
    margin-bottom: 10px;
}

.product-quantity input {
    width: 40px;
}

.price {
    font-size: 24px;
    align-self: center;
}

button {
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    color: white;
    background-color: #dddedc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    font-family: 'simplificasimplifica';
}

button:hover {
    background-color: #aedb86;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: 'simplificasimplifica';
}

.total {
    float: right;
    margin-left: auto;
    font-family: 'simplificasimplifica';
    font-size: 30px;
    font-weight: bold;
    display: flex;
}

.total-price {
    padding: 10px;
    align-self: center;
}

.checkoutBtn {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 15px;
}

.loginBeforeCheckout {
    float: right;
    margin-left: auto;
    font-family: 'simplificasimplifica';
    font-size: 23px;
    font-weight: bold;
    display: flex;
}