@font-face {
    font-family: 'simplificasimplifica';
    src: url('simplifica_typeface-webfont.woff2') format('woff2'),
        url('simplifica_typeface-webfont.woff') format('woff');
    font-weight: bold;
}

.title {
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-left: 45px;
    font-family: 'simplificasimplifica';
    font-weight: bold;
    background-color: #aedb86;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cart {
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-family: 'simplificasimplifica';
    font-weight: bold;
    font-size: 24px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}

.cartItem {
    display: flex;
    justify-content: space-between;
}

.total-price {
    border-top: 2px solid lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}

.input-fields label {
    display: block;
    margin-bottom: 10px;
}

div[class*='column'] {
    width: 382px;
}