@font-face {
    font-family: 'simplificasimplifica';
    src: url('simplifica_typeface-webfont.woff2') format('woff2'),
        url('simplifica_typeface-webfont.woff') format('woff');
    font-weight: bold;
}

.title {
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-left: 45px;
    font-family: 'simplificasimplifica';
    font-weight: bold;
    background-color: #aedb86;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.input-fields {
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 28px;
    font-family: 'simplificasimplifica';
    font-weight: bold;
    font-size: 24px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

.input-fields label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
}

div[class*='column'] {
    width: 80%;
    place-items: center;
    /* align-content: center; */
    flex: auto;
    margin-left: 5%;
    margin-right: 5%;
}

input[type='text'] {
    font-size: 20px;
    width: 87%;
    font-family: 'simplificasimplifica';
    height: 50px;
    padding-right: 40px;
    padding-left: 16px;
    color: rgba(46, 46, 46, .8);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    outline: none;
}

input[type='text']:focus {
    border-color: #aedb86;
}

.small-inputs {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.small-inputs div {
    width: 182px;
}

button {
    border: none;
    margin-top: 40px;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #dddedc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 24px;
    font-family: 'simplificasimplifica';
    margin-bottom: 20px;
}

button:hover {
    background-color: #aedb86;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: 'simplificasimplifica';
}

.payBtn {
    font-family: 'simplificasimplifica';
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    float: right;
    grid-template-columns: 2fr 1fr;
}