@font-face {
    font-family: 'simplificasimplifica';
    src: url('simplifica_typeface-webfont.woff2') format('woff2'),
        url('simplifica_typeface-webfont.woff') format('woff');
    font-weight: bold;
}

.navbar {
    font-family: 'simplificasimplifica';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #dddedc;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    padding-left: 80px;
}

.nav li a {
    display: block;
    color: rgb(122, 123, 133);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.nav #displayUser {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.nav li img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0px;
    opacity: 30%;
}

.displayUserText {
    font-size: 24px;
    margin-left: 10px;
    color: rgb(122, 123, 133);
    text-align: center;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 0px;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    color: #000;
}

.badge {
    margin-left: 5px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 18px;
    background-color: #aedb86;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 20px;
}
