@font-face {
    font-family: 'simplificasimplifica';
    src: url('simplifica_typeface-webfont.woff2') format('woff2'),
        url('simplifica_typeface-webfont.woff') format('woff');
    font-weight: bold;
}

.products {
    margin: 2em;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


#search {
  margin-top: 10px
}

#no-results-label {
  font-weight: bold;
  font-size: 24px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    max-height: 480px;
    text-align: center;
    font-family: 'simplificasimplifica';
    font-weight: bold;
}

.price {
    color: grey;
    font-size: 24px;
}

#title {
    font-size: 30px;
}

.description {
    color: grey;
    font-size: 20px;
}

.card button {
    font-family: 'simplificasimplifica';
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #dddedc;
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-size: 24px;
}

.card button:hover {
    background-color: #aedb86;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
